staff.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StaffRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Staff">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="StaffID" type="xs:unsignedShort" />
              <xs:element name="FullName" type="xs:string" />
              <xs:element name="GenderDescription" type="xs:string" />
              <xs:element name="DepartmentName" type="xs:string" />
              <xs:element name="CountryName" type="xs:string" />
              <xs:element name="HireDate" type="xs:string" />
              <xs:element name="AnnualSalary" type="xs:unsignedInt" />
              <xs:element name="SourceSystem" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
